{% extends 'projects/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Projects</h1>
    <div class="row">
        {% for ps in projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static ps.images  %}">
                <div class="card-body">
                    <h5 class="card-title">{{ ps.title }}</h5>
                    <p class="card-text">{{ ps.description }}</p>
                    <a href="{% url 'projects:project_detail' ps.pk %}" class="btn btn-warning">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}